Source: iceweasel-webconverger
Section: contrib/web
Priority: optional
Homepage: http://webconverger.org/kiosk
Maintainer: Kai Hendry <hendry@webconverger.com>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.9.1
Vcs-Browser: http://git.webconverger.org/?p=iceweasel-webconverger.git
Vcs-Git: git://webconverger.org/git/iceweasel-webconverger.git

Package: iceweasel-webconverger
Architecture: all
Conflicts: iceweasel-webcnoaddressbar, iceweasel-webctabkiller, iceweasel-webcfullscreen
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel, ${misc:Depends}
Description: Web kiosk extension for the Iceweasel web browser
 Webconverger provides a Firefox extension to lock down the browser
 for kiosk browsing. This is the default kiosk mode for Webconverger.
 .

Package: iceweasel-webcnoaddressbar
Architecture: all
Conflicts: iceweasel-webconverger, iceweasel-webctabkiller, iceweasel-webcfullscreen
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel, ${misc:Depends}
Description: Web kiosk extension with no address bar
 Webconverger provides a Firefox extension to lock down the browser for kiosk
 browsing. This mode is for deployments were users are not expected to browse
 away from the homepage.
 .

Package: iceweasel-webcfullscreen
Architecture: all
Conflicts: iceweasel-webconverger, iceweasel-webcnoaddressbar
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel, ${misc:Depends}
Description: Web kiosk extension Full screen applications
 Webconverger provides a Firefox extension to lock down the browser for kiosk
 browsing. This full screen mode is great for digital signage.
 .
