Source: iceweasel-webconverger
Section: contrib/web
Priority: optional
Homepage: http://webconverger.org/kiosk
Maintainer: Kai Hendry <hendry@webconverger.com>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.8.0
Vcs-Browser: http://git.debian.net/?p=dwm.git
Vcs-Git: git://git.debian.net/git/dwm.git

Package: iceweasel-webconverger
Architecture: all
Conflicts: iceweasel-webcnoaddressbar, iceweasel-webctabkiller, iceweasel-webcyourlibrary
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel (<< 4.0)
Description: web kiosk extension for the Iceweasel web browser
 Webconverger provides a Firefox extension to lock down the browser
 for kiosk browsing.
 .
 Website: http://webconverger.org/kiosk

Package: iceweasel-webcnoaddressbar
Architecture: all
Conflicts: iceweasel-webconverger, iceweasel-webctabkiller, iceweasel-webcyourlibrary
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel (<< 4.0)
Description: web kiosk extension (noaddress bar) for Iceweasel
 Webconverger provides a Firefox extension to lock down the browser
 for kiosk browsing.
 .
 Website: http://webconverger.org/kiosk

Package: iceweasel-webctabkiller
Architecture: all
Conflicts: iceweasel-webconverger, iceweasel-webcnoaddressbar, ceweasel-webcyourlibrary
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel (<< 4.0)
Description: web kiosk extension (no TABS bar) for Iceweasel
 Webconverger provides a Firefox extension to lock down the browser
 for kiosk browsing. This extension was sponsored to meet the
 requirements of http://www.yourlibrary.ca/
 .
 Website: http://webconverger.org/kiosk

Package: iceweasel-webcyourlibrary
Architecture: all
Conflicts: iceweasel-webconverger, iceweasel-webcnoaddressbar, iceweasel-webctabkiller
Depends: iceweasel (>= 2.0+dfsg-1), iceweasel (<< 4.0)
Description: web kiosk extension (no TABS bar or addressbar) for Iceweasel
 Webconverger provides a Firefox extension to lock down the browser
 for kiosk browsing. This extension was sponsored to meet the
 requirements of http://www.yourlibrary.ca/
 .
 Website: http://webconverger.org/kiosk
