#!/usr/bin/make -f
BUILDDIR=$(CURDIR)/build
TARGETDIR_LC=$(CURDIR)/debian/iceweasel-

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(BUILDDIR)
	make clean

	dh_clean

build:
	dh_testdir
	make
	for i in *.xpi; \
	do \
		VARIATION=`basename $$i .xpi`; \
		mkdir -p $(BUILDDIR)/$${VARIATION};\
		unzip -o -q -d $(BUILDDIR)/$${VARIATION} $${i}; \
	done

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	set -e; cd $(BUILDDIR); \
	for i in *; \
	do \
		mkdir -p $(TARGETDIR_LC)$$i/usr/lib/iceweasel/extensions/$$i; \
		install -m 644 $$i/chrome.manifest $(TARGETDIR_LC)$$i/usr/lib/iceweasel/extensions/$$i; \
		install -m 644 $$i/content $(TARGETDIR_LC)$$i/usr/lib/iceweasel/extensions/$$i; \
		install -m 644 $$i/defaults $(TARGETDIR_LC)$$i/usr/lib/iceweasel/extensions/$$i; \
		install -m 644 $$i/install.rdf $(TARGETDIR_LC)$$i/usr/lib/iceweasel/extensions/$$i; \
	done

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-arch binary-indep

.PHONY: binary binary-arch binary-indep build clean
