/*
 * Webconverger.com
 *
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

#content > tabbox > .tabbrowser-strip > menupopup[anonid="tabContextMenu"],
#context-searchselect,
#context-back,
#context-bookmarkframe,
#context-bookmarklink,
#context-bookmarkpage,
#context-forward,
#context-keywordfield,
#context-metadata,
#context-openframe,
#context-openframeintab,
#context-openlink,
#context-openlinkintab,
#context-reload,
#context-reloadframe,
#context-saveframe,
#context-saveimage,
#context-savelink,
#context-savepage,
#context-selectall,
#context-sendimage,
#context-sendlink,
#context-sendpage,
#context-sep-copylink,
#context-sep-properties,
#context-sep-selectall,
#context-sep-stop,
#context-sep-undo,
#context-sep-viewbgimage,
#context-setDesktopBackground,
#context-stop,
#context-viewframeinfo,
#context-viewframesource,
#context-viewinfo,
#context-viewpartialsource-mathml,
#context-viewpartialsource-selection,
#context-viewsource,
#downloadManager,
#download-monitor,
#downloads-button,
#editBookmarkPanel,
#editBookmarkPanelStarIcon,
#feed-button,
#go-button,
#go-button-stack,
#go-button-stack,
#main-menubar,
menu.bookmark-item,
menuitem[cmd="bm_openinnewtab"],
menuitem[command="Browser:SavePage"],
menuitem[command="cmd_bm_openinnewtab"],
menuitem[command="cmd_newNavigatorTab"],
menuitem#context-openlinkintab,
menuitem[disabled="true"],
menuitem[disabled="true"] + menuseparator,
menuitem#miOpenInNewTab,
menuitem[oncommand="gContextMenu.openFrameInTab();"],
menuitem.openintabs-menuitem,
menuitem#openintabs-menuitem,
#menu_openDownloads,
menuseparator.openintabs-menuseparator,
menuseparator#openintabs-menuseparator,
#menu_ToolsPopup,
#menu_viewPopup,
#PersonalToolbar,
#searchbar,
#search-container,
.search-go-button-stack,
.search-go-button-stack,
#star-button,
#throbber-box,
#throbber-box,
toolbarbutton.bookmark-item,
#toolbar-context-menu,
#toolbar-menubar,
#unknownContentType,
#urlbar,
#urlbar > .autocomplete-history-dropmarker { display: none !important;}
